.about{
    .container{
        padding: 120px 15px 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left{
        width: calc(100% - 460px);
    }
    &-right{
        width: 440px;
        position: relative;
    }
    &-subtitle{
        font-weight: 700;
        font-size: 22px;
        line-height: 116.02%;
        text-transform: uppercase;
        margin-bottom: 24px;
        color: #2B3845;
    }
    &-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 116.02%;
        color: #343434;
        margin-bottom: 15px;
    }
    &-p{
        font-weight: 300;
        font-size: 24px;
        line-height: 130.5%;
        color: #74787F;
        margin-bottom: 45px;
    }
    &-btn{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2B3845;
        color: white;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        border-radius: 10px;
    }
    .swiper{
        width: 100%;
        max-width: 660px;
        height: 480px;
        overflow: visible;
        &-slide{
            overflow: hidden;
            border-radius: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &-pagination{
            position: relative;
            top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            &-bullet{
                transition: all .2s;
                width: 15px;
                height: 15px;
                &-active{
                    width: 22px;
                    height: 22px;
                    background-color: #2B3845;
                }
            }
        }
    }
}