.header{
    width: 100%;
    background-color: white;
    backdrop-filter: blur(4px);
    border-radius: 0px 0px 15px 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition: .3s ease-out;
    &.hide{
        transform: translateY(-100%);
    }
    &-logo{
        color: #717F3A;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        img{
            max-height: 50px;
        }
    }
    .container{
        padding: 20px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        li{
            a{
                color: #74787F;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                position: relative;
                transition: .2s;
                display: flex;
                justify-content: center;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    display: block;
                    width: 0;
                    height: 1px;
                    background-color: #2B3845;
                    transition: .2s;
                }
                &:hover,&.active{
                    color: #2B3845;
                    &::after{
                        width: calc(100% - 20px);
                    }
                }
            }
        }
    }
    &-number{
        padding: 10px 15px;
        background-color: #2B3845;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}