.intro{
    position: relative;
    width: 100%;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &-left{
        width: 50%;
        height: 100%;
        padding: 60px 50px;
        z-index: 1;
        background: linear-gradient(88.55deg, #2B3845 1.37%, rgba(0, 0, 0, 0) 101.8%);
    }
    &-title{
        font-weight: 700;
        font-size: 80px;
        line-height: 100%;
        color: white;
        margin-bottom: 45px;
        font-family: "Montserrat",sans-serif;
    }
    &-btns{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        list-style: none;
        li{
            max-width: 307px;
            width: 100%;
            &:nth-last-child(1){
                button{
                    background-color: transparent;
                    color: white;
                }
            }
        }
        button{
            width: 100%;
            font-weight: 400;
            font-size: 22px;
            line-height: 130%;
            color: #2B3845;
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            border: 1px solid white;
        }
    }
    &-inner{
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}