
// consultation

.popup{
    &-consultation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0,.6);
        backdrop-filter: blur(2px);
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
        &-con{
            width: 100%;
            max-width: 950px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
        &-close{
            width: 44px;
            height: 44px;
            background-color: #FFFFFF;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(15px, -15px);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        &-left{
            width: calc(100% - 500px);
            padding: 80px 55px;
            border-radius: 30px 0 0 30px;
            background-color: white;
        }
        &-title{
            color: #717F3A;
            font-weight: 600;
            font-size: 44px;
            line-height: 26.88px;
            text-transform: uppercase;
            margin-bottom: 10px;
            &::first-line{
                font-weight: 700;
                font-size: 32px;
                line-height: 140%;
                color: #343434;
            }
        }
        &-subtitle{
            color: #74787F;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 42px;
        }
        &-format{
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #74787F;
            text-align: center;
        }
        form{
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            input{
                width: 100%;
                border: 0;
                background-color: #F2F2F2;
                padding: 15px;
                border-radius: 10px;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                caret-color: black;
                position: relative;
                &::placeholder{
                    color: #BBBCBE;
                }
                &:nth-last-child(1){
                    margin-top: 10px;
                    background-color: #717F3A;
                    font-weight: 600;
                    font-size: 18.7623px;
                    line-height: 22px;
                    color: white;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
            }
        }
        &-right{
            width: 500px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            overflow: hidden;
            border-radius: 0 30px 30px 0;
            img{
                width: 101%;
                height: 101%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
