mixin about()
    section.about 
        .container 
            .about-left 
                .swiper.aboutSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            img(src="@img/intro.png")
                        .swiper-slide 
                            img(src="@img/intro.png")
                        .swiper-slide 
                            img(src="@img/intro.png")
                    .swiper-pagination
            .about-right
                h3.about-subtitle The future of living
                h2.about-title About District
                p.about-p The Community Motor City is ideally located in the heart of Motor City, a well-developed community with its unique infrastructure <span>View more</span>
                button.about-btn More