mixin about()
    section.about#About 
        .container 
            .about-left 
                .swiper.aboutSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            img(src="@img/about-1.png", alt="", draggable="false")
                        .swiper-slide 
                            img(src="@img/about-2.png", alt="", draggable="false")
                        .swiper-slide 
                            img(src="@img/about-3.png", alt="", draggable="false")
                    .swiper-pagination
            .about-right
                h3.about-subtitle The future of living
                h2.about-title <span>About</span> District
                p.about-p The Community Motor City is ideally located in the heart of Motor City, a well-developed community with its unique infrastructure <span>View more</span>
                button.about-btn More
            button.about-btn__mob More
