mixin brochure()
    section.brochure#Brochure
        .container
            .brochure-left 
                h3.brochure-subtitle All in one
                h2.brochure-title Brochure
                ul 
                    li 
                        p Masterplan
                    li 
                        p Lifestyle
                    li 
                        p Floor Plans
                    li 
                        p Galery
                form(action="/action_page.php")
                    input(type="text" placeholder="Name")
                    input(type="tel" placeholder="Phone number")
                    input(type="email" placeholder="e-mail")
                    input(type="submit" value="Download")
            .brochure-right 
                .brochure-books 
                    img(src="@img/books.png", alt="", draggable="false")