mixin consultation()
    section.consultation#Consultation 
        .container
            .consultation-left 
                .consultation-img__side
                    img(src="@img/intro.png", alt="", draggable="false")
                .consultation-img__main
                    img(src="@img/intro.png", alt="", draggable="false")
                .consultation-img__side
                    img(src="@img/intro.png", alt="", draggable="false")
            .consultation-right
                h3.consultation-subtitle For free
                h2.consultation-title Get Consultation
                ul 
                    li 
                        p Our specialists will contact you 
                    li 
                        p Our experts will answer any of your questions
                    li 
                        p You will get all PDFs 
                form(action="/action_page.php")
                    input(type="text" placeholder="Name")
                    input(type="tel" placeholder="Phone number")
                    input(type="email" placeholder="E-mail")
                    input(type="submit" value="Send")