mixin consultation()
    section.consultation#Consultation 
        .container
            .consultation-left 
                .consultation-img__side
                    img(src="@img/consultation-1.png", alt="", draggable="false")
                .consultation-img__main
                    img(src="@img/consultation-2.png", alt="", draggable="false")
                .consultation-img__side
                    img(src="@img/consultation-3.png", alt="", draggable="false")
            .consultation-right
                //- h3.consultation-subtitle For free
                h2.consultation-title Get Consultation
                ul 
                    li 
                        p Earliest convenience
                    li 
                        p Any question
                    li 
                        p Any documents
                form(action="/action_page.php")
                    input(type="text" placeholder="Name")
                    input(type="tel" placeholder="Phone number")
                    input(type="email" placeholder="E-mail")
                    input(type="submit" value="Send")