mixin developer()
    section.developer#Developer 
        .container
            .developer-left 
                h3.developer-subtitle.developer-text Established in 2010 
                h2.developer-title.developer-text Reliable Developer 
                p.developer-p.developer-text AQUA Developments turned into a full-service development company delivering the most selective residential and commercial properties... <span>View more</span>
                button.developer-btn Enquire 
            .developer-right
                img(src="@img/intro.png", alt="", draggable="false")