mixin developer()
    section.developer#Developer 
        .container
            .developer-left 
                //- h3.developer-subtitle.developer-text Established in 2010 
                h2.developer-title.developer-text Reliable Developer 
                p.developer-p.developer-text Leading world known estate developer based in Abu Dhabi, creating sustainable, future-ready built environments. The partner of choice for the UAE’s most ambitious innovative projects.
                button.developer-btn Enquire 
            .developer-right
                img(src="@img/developer.png", alt="", draggable="false")