mixin header()
    header.header
        .container
            a(href="#").header-logo LOGO
            ul 
                li 
                    a(href="#").header-btn.active Home
                li 
                    a(href="#District").header-btn District
                li 
                    a(href="#Brochure").header-btn Brochure
                li 
                    a(href="#Developer").header-btn Developer
                li 
                    a(href="#Consultation").header-btn Consultation
            a(href="tel:998909999999").header-number +998 90 999 99 99