mixin header()
    header.header
        .container
            a(href="#").header-logo LOGO
            ul 
                li 
                    button(type="button") Home
                li 
                    button(type="button") District
                li 
                    button(type="button") Developer
                li 
                    button(type="button") Brochure
                li 
                    button(type="button") Consultation
            a(href="tel:998909999999").header-number +998 90 999 99 99