mixin header()
    header.header
        .container
            a(href="#").header-logo LOGO
            ul 
                li 
                    button(type="button").header-btn.active Home
                li 
                    button(type="button").header-btn District
                li 
                    button(type="button").header-btn Developer
                li 
                    button(type="button").header-btn Brochure
                li 
                    button(type="button").header-btn Consultation
            a(href="tel:998909999999").header-number +998 90 999 99 99