mixin location()
    section.location 
        .map 
            img(src="@img/map.png", alt="")
        .container
            .location-panel
                h3.location-subtitle the best place 
                h2.location-title Location 
                p.location-p The Community Motor City is ideally located in the heart of Motor City, a well-developed community with its unique infrastructure <span>View more</span>
                button.location-btn More