mixin popup()

    //- consultation
    .popup-consultation 
        .popup-consultation-con
            .popup-consultation-left
                h2.popup-consultation-title Get quick <br>Consultation 
                p.popup-consultation-subtitle Please, leave your personal information below : 
                form(action="/action_page.php")
                    input(type="text" id="fname" placeholder="Name")
                    input(type="tel" id="lname" placeholder="Phone number")
                    input(type="email" id="lname" placeholder="Gmail")
                    input(type="submit" value="Download")
                p.popup-consultation-format 64 Pages | PDF format 
            .popup-consultation-right
                img(src="@img/consult.png", alt="", )
            button.popup-consultation-close 
                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.8961 9.50389L18.7716 1.62839C18.9272 1.44665 19.0085 1.21288 18.9993 0.973786C18.9901 0.734694 18.8909 0.507892 18.7218 0.338702C18.5526 0.169513 18.3258 0.0703963 18.0867 0.0611612C17.8476 0.0519261 17.6138 0.133252 17.4321 0.288887L9.55657 8.16439L1.68107 0.279387C1.50218 0.100499 1.25955 0 1.00657 0C0.75358 0 0.510955 0.100499 0.332066 0.279387C0.153178 0.458276 0.0526792 0.700901 0.0526792 0.953887C0.0526792 1.20687 0.153178 1.4495 0.332066 1.62839L8.21707 9.50389L0.332066 17.3794C0.232619 17.4646 0.151849 17.5694 0.0948272 17.6872C0.0378051 17.8051 0.00576145 17.9335 0.000707932 18.0643C-0.00434559 18.1951 0.0176996 18.3256 0.0654604 18.4475C0.113221 18.5694 0.185667 18.6801 0.278249 18.7727C0.370831 18.8653 0.481551 18.9377 0.603459 18.9855C0.725368 19.0333 0.855834 19.0553 0.986667 19.0502C1.1175 19.0452 1.24588 19.0131 1.36374 18.9561C1.4816 18.8991 1.5864 18.8183 1.67157 18.7189L9.55657 10.8434L17.4321 18.7189C17.6138 18.8745 17.8476 18.9558 18.0867 18.9466C18.3258 18.9374 18.5526 18.8383 18.7218 18.6691C18.8909 18.4999 18.9901 18.2731 18.9993 18.034C19.0085 17.7949 18.9272 17.5611 18.7716 17.3794L10.8961 9.50389Z" fill="#717F3A"/>
                </svg>