include components/header 
include components/intro 
include components/features 
include components/about 
include components/brochure 
include components/location 
include components/developer 
include components/consultation 
include components/footer 
include components/popup 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="description")
        link(rel="stylesheet", href="css/style.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
        link(rel="apple-touch-icon" href="@img/intro.png")
        title Community
    body#body 
        +header 
        main 
            +intro
            +features
            +about
            +brochure
            +location 
            +developer
            +consultation
        +footer
        +popup  
        script(src="js/app.min.js") 